# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
dist/
web-build/

# Expo
.expo/
.expo-shared/

# Native platform junk
android/
ios/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
metro-health-check*

# macOS
.DS_Store

# env
.env
.env*.local
*.pem

# typescript
.tsbuildinfo